%h1= @user.login

#posts
  %a{:name => 'posts'}
  %h2 Recent Posts
  - if !@user.items.empty?
    %table
      = partial :item, :with => @user.items
  - else
    %p None. 

#comments 
  %a{:name => 'comments'}
  %h2 Recent Comments
  - if !@user.comments.empty?
    = partial :comment, :with => @user.comments
  - else
    %p None.